$primary-color: #ff6f00; 

.tab-buttons {
  button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom-color: $primary-color;
    }
  }  
}